#treasureTaskRelease_tool{
	height:32px;
	padding:5px;
	background: #F4F4F4;
	line-height: 32px;
}

#sp_task_treasure_info,#sp_task_info{
	margin-left:15px;
	margin-right: 30px;
}

#sp_task_treasure_info span.title,#sp_task_info span.title{
	display:block;
	margin:5px 0 5px 0;
}

.skin{
	background: #f8f8f8;
	border:1px solid #ececec;
	padding:10px 0 10px 10px;
	
}

#sp_task_submit {
	margin-top:20px;
	background:#F4F4F4;
	height: 42px;
	text-align: center;
}

.rewards-table{ border-collapse:collapse;}
.rewards-table tr ,.rewards-table tr th ,.rewards-table tr td{ border:1px solid #ccc; border-collapse:collapse;}
.rewards-table tr th{ padding:6px 10px; background:#f4f4f4;}
.rewards-table tr td{ padding:5px;text-align: center;}

.disabled{
	background: #eee;
}
